
.head {
    display: flex;
    justify-content: center;
    font-family: Chalkduster, fantasy;
    font-size: 50px;
}

.button {
    float: left;
    width: 33%; 
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

.btnStyle {
    border-radius: 20px;
}

.scores {
    float: left;
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.scores2 {
    float: left;
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.container {
    margin-top: 20px;
    height: 33%;
    width: auto;
}

.container2 {
    margin-top: 100px;
    height: 33%;
    width: auto;
    display: flex;
    justify-content: center;
}


