
.background {
    background-color: thistle;
}

.head {
    display: flex;
    justify-content: center;
    font-family: Chalkduster, fantasy;
    font-size: 50px;
}

.button {
    float: left;
    width: 33%; 
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

.btnStyle {
    border-radius: 20px;
    background-color: grey;
    box-shadow: 2px 5px black;
}

.scores {
    float: left;
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-family: Chalkduster, fantasy;
}

.scores2 {
    float: left;
    width: 50%; 
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-family: fantasy;
    font-weight: 600;
    font-size: 50px;
}

.container {
    margin-top: 20px;
    height: 33%;
    width: auto;
}

.container2 {
    margin-top: 30px;
    height: 33%;
    width: auto;
    display: flex;
    justify-content: center;
    font-family: Chalkduster, fantasy;
}


